html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* reset css */

/* font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */


body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 700px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  padding: 10px 0;
  margin-bottom: 15px;
}

.title {
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

.text {
  color: #7A7A7A;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

.sub__title {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}

/* Header page 2 */


.girls {
  margin-bottom: 20px;
}

.girl__list {
  display: flex;
  justify-content: space-between;
}

.girl__item {
  padding: 0 5px;
}

.girl__link img {
  max-width: 100%;
}

.girl__link img:hover {
  background-color: #FF9A89;
  border-radius: 10px;
}


/* Page 3 */


.page3title{
  color: #7A7A7A;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.page3subtitle {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

.img__list{
  margin-bottom: 20px;
}

.img__item{
  margin-bottom: 20px;
}

.img__list img{
  max-width: 100%;
}

.img__list img:hover{
  background-color: #FF9A89;
  border-radius: 10px;
  cursor: pointer;
}